#wrapper{
    margin: 50px auto;
    width:700px;
}
.locations{
    height:150px;
    width: 22%;
    margin-top: 10px;
    text-align:center;
    display:inline-block;
    border: 1px solid black;
    box-shadow: 1px 1px gray;
    vertical-align:top;
}
.margin{
    margin-top:10px;
    margin-left:10px
}
h3{
    margin-top:10px;
}
p{
    margin-top:10px;
}
a{
    box-shadow: 1px 1px gray;
    margin-bottom: 20px;
}
.border{
    border:1px solid black;
    box-shadow: 1px 1px gray;
    overflow: scroll;
    height: 200px;
}